.button{
    padding: .8rem;
    font-size: 1em;
    background-color: #87c73c;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    margin: 20px 0;
}